body {
    background: #fcead4;
}
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#main-container h1 {
    font-weight: 300;
    
}
#form-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
}
#product-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.text-label {
    font-weight: 600
}
.review-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}


.radio-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.radio-label {
    font-weight: 600;
}
.review-section {
    max-width: 600px;
    margin: auto;
}

.rating-group {
    margin-bottom: 5px;
}

.rating-group p {
    margin-bottom: 8px;
    font-weight: 600;
}
.required {
    color: red;

}
.error {
    color: red;
    font-size: 13px;
    display: none;
    margin-top: 5px;
}
.rating-group.invalid .error{
    display: block;
}
.rating-group.invalid .box{
    border-color: red;
}
.box-rating {
    display: flex;
    gap: 10px;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid #edc696;
    background: #f0b966;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.box:hover {
    background: #e5e7eb;
}
.box.active {
    background: #0c0c0c;
    color: #fff;
    border-color: #8d8d8d;
}


#submit {
    width: 150px;
    position: relative;
    background: #fff;
    border: 3px solid white;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    height: 25px;
}